/* 全局生效的覆盖 */
:root {

}

/* 主题色设置 */
/* Beach Sunset */
body.light {
  --white: #FFFFFF;
  --black: #4A3E37;
  --gray: #FFF8F3;
  --primary: #FFAA47;
  --second: #FFF4D9;
  --hover-color: #FFE9BD;
  --bar-color: rgba(255,170,71,0.1);
  --theme-color: var(--second);
  --highlight: #FFC275;
  --button: #FFD89F;
}

body.dark {
  --white: #3B2E25;
  --black: #EAD8C7;
  --gray: #2E241E;
  --primary: #FFD580;
  --second: #3A2B1D;
  --hover-color: #4A3826;
  --bar-color: rgba(255,213,128,0.1);
  --theme-color: var(--gray);
  --highlight: #FFE5A6;
  --button: #B0843B;
}

