/* 全局生效的覆盖 */
:root {

}

/* 主题色设置 */
/* Neon Pulse */
body.light {
  --white: #FFFFFF;
  --black: #1A1818;
  --gray: #F9F9F9;
  --primary: #E600FF;
  --second: #FFD6FF;
  --hover-color: #F0BBFF;
  --bar-color: rgba(230,0,255,0.12);
  --theme-color: var(--second);
  --highlight: #FF4DFF;
  --button: #FF8CFF;
}

body.dark {
  --white: #0B0A0B;
  --black: #E8E8E8;
  --gray: #0A0A0A;
  --primary: #00FFD6;
  --second: #1D0026;
  --hover-color: #1B0030;
  --bar-color: rgba(0,255,214,0.12);
  --theme-color: var(--gray);
  --highlight: #33FFE0;
  --button: #008066;
}

