/* 全局生效的覆盖 */
:root {

}

/* 主题色设置 */
/* Sunrise Glow */
body.light {
  --white: #FFFFFF;
  --black: #4D2F2A;
  --gray: #FFF4F0;
  --primary: #FF7965;
  --second: #FFCCC3;
  --hover-color: #FFBBAA;
  --bar-color: rgba(255,121,101,0.1);
  --theme-color: var(--second);
  --highlight: #FF9870;
  --button: #FFA698;
}

body.dark {
  --white: #3A2220;
  --black: #F0C8BD;
  --gray: #2B1817;
  --primary: #FF9D87;
  --second: #4A2E2B;
  --hover-color: #5A3633;
  --bar-color: rgba(255,157,135,0.1);
  --theme-color: var(--gray);
  --highlight: #FFB59F;
  --button: #A04E48;
}

